/* *{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */
html{
  scroll-behavior:smooth;
}

.slogan_header {
    background-image: url("../images/gym.jpg");
    background-blend-mode: color;
    font-family: Georgia, 'Times New Roman', Times, serif ;

}
.lead{
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.l-heading{
margin-left: 30px;
margin-top: -5px;
}
 /* header{
    background-image: url("../images/background.jpg");
    background-size: cover;
    color: white;
    padding: 10px;
    text-align: center;
    height: 100vh;
}
nav {
    width: 100%;
    height: 62px;

}

#book_now_button {
    background-color: red  ;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
} */




/* RESUABLE COMPONENTS */
h1,h2{
  color: #fff;
  font-weight: 300;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* facilities offers */
.facilities{
  background-color: black;
  margin-bottom: 0px;
}
.gym{
  background-color: #191919;
  margin-top: -20px;
}
.art-gallery{
  background-color: black;
  margin-top: -20px;
}
.bar{
  background-color: #191919;
  margin-top: -20px;
}
.casino{
  background-color: black;
  margin-top: -20px;
}
.pool{
  background-color: #191919;
  margin-top: -20px;
}

.restaurant{
  margin-bottom: 20px;
}
.photo1,gym1{
height:auto;
margin: 30px 0 50px 30px;
width: 500px;
}
.description{
  margin-top: 20px;
}
.hero-text{
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .description{
    margin-left:10px;
    margin-right: 20px;
  }

}
