@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);

}

nav.transparent {
    width: 100%;
    height: 62px;
    position: absolute;
    overflow: hidden;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

#book_now_button {
    background-color: red  ;
    font-weight: normal;
}

#slogan {
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 204px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.slogan_header {
    background-image: url("../images/landing.png");
    background-blend-mode: color;
    font-family: Georgia, 'Times New Roman', Times, serif ;

}


#welcome_text {
    padding-top: 10%;
}

/*new second slide show*/
.mySlides2 {
    display: none;
}
.mySlides1 {
    display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


.slideshow1 {
    padding: 40px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.myslides2 fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}


.collapsible {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 15px;
    text-align: left;
    border-radius: 4px;
}

.active, .collapsible:hover {
    background-color: rgb(67, 133, 196);
}

.collapsible:after {
    content: '\02EC';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px
}
.active:after {
    content: "\2212"
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:black;
    text-align: left;
}

#form_container {
  border-radius: 5px;
  background: #f2f2f2;
}

#booking {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
    color: white;
}
#booking img {
    width: 100%;
    height: 500px;
}
#booking span {
    font-size: large;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

  }
.radio_button {
    position: absolute;
    bottom: 8px;
    right: 50%;
}
