
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-color: #c80125;
  --bg-dark: #171717;
  --max-width: 1440px;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

* {
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);   
 }

  h1 {
    margin: 0;
    margin-bottom: 0.5;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
  }
  /* utility */
  .container {
    max-width: var(--max-width);
    margin: 0 auto;
    overflow: hidden;
  }

  .s-heading {
    font-size: 1.3rem;
    line-height: 1.1;
    text-transform: uppercase;
  }

  .l-heading {
    font-size: 3rem;
    line-height: 1.2;
    height: 109px;
  }
  nav.transparent {
    width: 100%;
    height: 62px;
    position: relative;
    overflow: hidden;
    background:transparent;
    background-color:none;
    border-color:transparent;
    box-shadow:none;
  }


  .showcase-mainpage {
    color: #fff;
    background-color: black;
    position: relative;
    height: 100vh;
  }

.showcase-mainpage::before {
  content: "";
  background-image: url("../images/landing.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
}

.showcase-mainpage .showcase-container {
  display: flex;
  align-items: flex-end;
  height: 100vh;
}

.showcase-mainpage .showcase-mainpage-page {
  z-index: 1;
  padding-bottom: 7rem;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

#slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0; 
}

.slogan_header {
    background-image: url("../images/landing.png");
    min-height: 400px;
    background-position: center;
    margin-bottom: 30px;
    position: relative;
    position: sticky;
    width: 100%;
    height: 590px;
    overflow: hidden;
  } 

#book_now_button {
  background-color: red  ;
  font-weight: normal;
}


#welcome_text {
  padding-top: 5%;
  padding-left: 5%;
}

/*new second slide show*/
.mySlides2 {
    display: none;
}
.mySlides1 {
    display: none;
    filter: brightness(50%);
}
.mySlides2 img {
  filter: brightness(50%);
  min-height: 300px;
  background-position: center;
  margin-bottom: 30px;
  position: absolute;
  position: sticky;
  width: 100%;
  height: 500px;
  overflow: hidden;  
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


.slideshow1 {
    padding: 40px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.myslides2 fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}


.collapsible {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 15px;
    text-align: left;
    border-radius: 4px;
}

.active, .collapsible:hover {
    background-color: rgb(67, 133, 196);
}

.collapsible:after {
    content: '\02EC';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px
}
.active:after {
    content: "\2212"
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:black;
    text-align: left;
}

#form_container {
  border-radius: 5px;
  background: #f2f2f2;
}

#booking {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
    color: white;
}
#booking img {
    width: 100%;
    height: 500px;
    filter: brightness(50%);

}
#booking span {
    font-size: large;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
  }
.radio_button {
    position: absolute;
    bottom: 8px;
    right: 50%;
}

